html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  padding: -15px;
  justify-content: space-between;
}
.photo-card{
  width: 30%;
  margin: 15px;
  border: 1px solid black;
}

.material-icons{
  padding-left: 15px;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-form{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more{
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%);
  

}


